# Set locale, for now only Dutch (nl) is an option
locale=nl
# Install dnsmasq
install_dnsmasq=false
# Install docker-ce
install_docker=false
# Install portainer
install_docker_portainer=false
# Install unifi-video
install_docker_unifi_video=false